<div class="m-10">
  <div class="flex justify-between items-center">
      <h1 class="quicksand font-extrabold text-3xl mb-4">Shop by Brands</h1>
      <a routerLink="/shop" class="text-[14px] hover:underline hover:text-[#1c799b]">
        View All Deals
      </a>
  </div>
  <div class="my-5">
    <ngx-slick-carousel [config]="slideConfig" >
      @for (item of Img; track $index) {
      <div ngxSlickItem class="m-2.5" data-aos="zoom-in" data-aos-once="true" [attr.data-aos-delay]="$index*100" [attr.data-aos-duration]="600+($index*100)">
        <img [src]="item" alt=""  class="md:w-37.5 w-21.25" />
      </div>
      }
    </ngx-slick-carousel>
  </div>
</div>
