<div class="grid md:grid-cols-2 grid-cols-1 px-3 my-10">
  <h1 class="quicksand text-3xl font-black">Recommended for you</h1>
  <div class="text-[14px] flex justify-between items-center flex-wrap">
    <button
      (click)="ChangeProducts(0)"
      class="p-2 px-3 mx-1 cursor-pointer transition-all rounded-full duration-200"
      [ngClass]="
        SelectedCategory() == 0
          ? 'bg-[#1c799b] text-white'
          : 'hover:text-[#1c799b]   hover:border-[#1c799b]'
      "
    >
      All
    </button>
    @for (item of Categories; track $index ;let Iseven=$even) { @if(Iseven){
    <button
      (click)="ChangeProducts(item.Id)"
      class="p-2 mx-1 cursor-pointer transition-all rounded-full duration-200"
      [ngClass]="
        SelectedCategory() == item.Id
          ? 'bg-[#1c799b] text-white'
          : 'hover:text-[#1c799b]   hover:border-[#1c799b]'
      "
    >
      {{ item.Name }}
    </button>
    } }
  </div>
</div>
<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-5 p-5"
>
  @for (item of Products; track $index) {
    <Product-Card-2 [Product]="item"></Product-Card-2>
  }
</div>
