<app-bread-crumb title={{product?.Name}}></app-bread-crumb>
<div
  class="p-3 grid lg:grid-cols-8 md:grid-cols-5 grid-cols-1 md:m-10 m-3 gap-5"
>
  <div class="md:col-span-3 md:order-1">
    <div>
      <div
        class="border-1 border-gray-300 p-10 rounded-[10px] flex items-center justify-center"
      >
        <img
          [src]="product?.Img"
          class="aspect-square object-contain"
          width="400"
        />
      </div>
      <div class="flex gap-2.5 my-2.5">
        <div
          class="border-1 border-gray-300 p-5 rounded-[10px] flex items-center justify-center"
        >
          <img
            [src]="product?.Img"
            class="aspect-square object-contain"
            width="100"
          />
        </div>
        <div
          class="border-1 border-gray-300 p-5 rounded-[10px] flex items-center justify-center"
        >
          <img
            [src]="product?.Img"
            class="aspect-square object-contain"
            width="100"
          />
        </div>
        <div
          class="border-1 border-gray-300 p-5 rounded-[10px] flex items-center justify-center"
        >
          <img
            [src]="product?.Img"
            class="aspect-square object-contain"
            width="100"
          />
        </div>
        <div
          class="border-1 border-gray-300 p-5 rounded-[10px] flex items-center justify-center"
        >
          <img
            [src]="product?.Img"
            class="aspect-square object-contain"
            width="100"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="md:col-span-3 md:order-3 lg:order-2">
    <h1 class="quicksand font-black text-3xl">{{ product?.Name }}</h1>
    <div class="my-3 text-[13px] flex gap-2.5 items-center font-medium">
      <span class="flex gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13"
          fill="orange"
          class="bi bi-star-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13"
          fill="orange"
          class="bi bi-star-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13"
          fill="orange"
          class="bi bi-star-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13"
          fill="orange"
          class="bi bi-star-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13"
          fill="orange"
          class="bi bi-star-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
          />
        </svg>
      </span>
      <span class=""> {{ product?.Rating }} Star Rating </span>
      <span class="text-gray-400"> ({{ product?.RatingCount }}) </span>
    </div>
    <hr class="my-5 text-gray-300" />
    <p class="text-[14px] text-gray-600">
      Vivamus adipiscing nisl ut dolor dignissim semper. Nulla luctus malesuada
      tincidunt. Class aptent taciti sociosqu ad litora torquent
    </p>
    <div class="my-4 flex gap-2.5 items-center">
      <p class="text-2xl text-gray-400 quicksand font-black line-through">
        {{ product?.Price | currency : "INR" }}
      </p>

      <p class="text-3xl quicksand font-black">
        {{ product?.OfferPrice | currency : "INR" }}
      </p>
      <a href="https://wa.me/9667167963" target="_blank">
        <button
          class="cursor-pointer px-3 py-2 bg-[#1c799b] text-white rounded-full text-[14px]"
        >
          Order on What'sApp
        </button>
      </a>
    </div>
    <hr class="my-5 text-gray-300" />
    <div class="bg-[#f3faf2] p-4 rounded-[10px] text-[14px]">
      <div class="flex gap-5 items-center">
        <p class="text-[#1c799b]">Special Offer:</p>
        <div class="text-[12px] flex gap-2.5 items-center">
          <p
            class="p-1 size-6 bg-white border border-[#1c799b] rounded-[5px] flex items-center justify-center"
          >
            {{ timer.hour() }}
          </p>
          <p
            class="p-1 size-6 bg-white border border-[#1c799b] rounded-[5px] flex items-center justify-center"
          >
            {{ timer.min() }}
          </p>
          <p
            class="p-1 size-6 bg-white border border-[#1c799b] rounded-[5px] flex items-center justify-center"
          >
            {{ timer.sec() }}
          </p>
        </div>
      </div>
      <p class="text-[12px] mt-4">Remains untill the end of the offer</p>
    </div>
    <div class="my-3 flex gap-2.5 items-center">
      <div class="my-3 bg-white rounded-full shadow p-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          fill="#1c799b"
          class="bi bi-lightning-charge-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"
          />
        </svg>
      </div>
      <p class="quicksand font-black">Products are almost sold out</p>
    </div>
    <div class="h-2 bg-gray-300 rounded-full">
      <div
        class="bg-[#1c799b] h-[100%] rounded-full"
        [ngStyle]="{ width: product?.Quantity + '%' }"
      ></div>
    </div>
    <p class="text-[14px] my-2">Available only: {{ product?.Quantity }}</p>
    <div class="my-5 flex justify-between items-center">
      @if (productService.IsAlreadyInCart(product?.Id ?? 0)) {
      <button
        class="bg-[#e3f4fa] scale-110 flex items-center gap-2.5 rounded-full cursor-pointer hover:bg-[#1c799b] hover:text-white transition-all duration-300 font-medium text-[#1c799b] px-4 py-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-dash"
          viewBox="0 0 16 16"
          (click)="productService.AddToCart(product?.Id ?? 0, -1)"
        >
          <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8" />
        </svg>
        <span>{{ productService.GetCartProductQuantity(product?.Id ?? 0) }}</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-plus"
          viewBox="0 0 16 16"
          (click)="productService.AddToCart(product?.Id ?? 0, 1)"
        >
          <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
          />
        </svg>
      </button>
      }@else{
      <button
        (click)="productService.AddToCart(product?.Id ?? 0, 1)"
        class="bg-[#e3f4fa] scale-110 flex items-center gap-2.5 rounded-full cursor-pointer hover:bg-[#1c799b] hover:text-white transition-all duration-300 font-medium text-[#1c799b] px-4 py-1"
      >
        <span>Add </span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          fill="currentColor"
          class="bi bi-cart"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"
          />
        </svg>
      </button>
      }
      <button
        [ngClass]="ClassDefine(product?.Id ?? 0)"
        (click)="productService.AddToWishlist(product!)"
        class="active:scale-110 transit *:duration-200 cursor-pointer duration-300 p-3 rounded-full flex justify-center items-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          fill="currentColor"
          class="bi bi-heart"
          viewBox="0 0 16 16"
        >
          <path
            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"
          />
        </svg>
      </button>
    </div>
    <hr class="my-5 text-gray-300" />
    <div
      class="p-3 border border-dashed rounded-[5px] border-[#3f60b6] flex items-center gap-2.5 justify-between"
    >
      <div class="flex items-center gap-2.5">
        <div class="p-1 border rounded-full hover:bg-gray-300 cursor-pointer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            fill="#000"
            class="bi bi-plus"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
            />
          </svg>
        </div>
        <p class="text-[12px]">Mfr. coupon. $3.00 off 5</p>
      </div>
      <p
        class="text-[12px] cursor-pointer underline text-[#3f60b6] hover:text-[#2f4a8d] font-bold"
      >
        View Details
      </p>
    </div>
    <div class="p-3">
      <ul class="my-2.5 text-[13px] list-disc">
        <li>Buy 1, Get 1 FREE</li>
        <li>Buy 1, Get 1 FREE</li>
      </ul>
    </div>
  </div>
  <div class="md:col-span-2 md:order-2 lg:order-3">
    <div class="rounded-[10px] bg-white border-1 border-gray-300">
      <div class="py-4 px-2">
        <div
          class="bg-[#1799b9] flex rounded-full p-2 justify-between items-center"
        >
          <div class="flex items-center gap-2">
            <div class="bg-white p-2 rounded-full">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                fill="currentColor"
                class="bi bi-shop"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.37 2.37 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0M1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5M4 15h3v-5H4zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zm3 0h-2v3h2z"
                />
              </svg>
            </div>
            <p class="text-[12px] text-white">By MarketPro</p>
          </div>

          <div class="bg-white p-2 text-[14px] rounded-full cursor-pointer">
            <p>View Store</p>
          </div>
        </div>
      </div>
      @for (item of ServiceDetails; track $index) {
      <div class="py-4 px-3 bg-[#f3faf2]">
        <div class="flex items-center">
          <div
            class="p-2 bg-white rounded-full"
            [innerHTML]="sanitizer.bypassSecurityTrustHtml(item.icon)"
          ></div>
          <div class="px-3 gap-1.5">
            <p class="quicksand text-[12px] font-bold">
              {{ item.name }}
            </p>
            <p class="text-[14px]">
              {{ item.msg }}
            </p>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
<div class="border-1 border-gray-300 m-4 rounded-2xl">
  <div class="p-4 border-b-1 border-b-gray-300">
    <button
      class="cursor-pointer rounded-full px-3 py-2"
      (click)="IsDes.set(true)"
      [ngClass]="IsDes() ? 'bg-[#1c799b] text-white' : 'text-black'"
    >
      Description
    </button>
    <button
      class="cursor-pointer rounded-full px-3 py-2"
      (click)="IsDes.set(false)"
      [ngClass]="!IsDes() ? 'bg-[#1c799b] text-white' : 'text-black'"
    >
      Reviews
    </button>
  </div>
  <div class="my-5">
    @if(IsDes()){
    <div class="p-5" data-aos="zoom-in" data-aos-once="true">
      <p class="quicksand text-2xl font-black">Product Description</p>
      <p class="my-2">{{ product?.Descripation }}</p>
    </div>
    }@else {
    <div class="p-5" data-aos="zoom-in" data-aos-once="true">
      <div class="grid md:grid-cols-2 grid-cols-1">
        <div class="p-5">
          <p class="quicksand text-2xl font-black">Reviews</p>
          <div class="flex my-4 pb-6 gap-2.5">
            <div class="mt-3">
              <img
                src="https://marketpro-angular.netlify.app/assets/images/thumbs/comment-img1.png"
                width="40px"
              />
            </div>
            <div class="w-[100%]">
              <div class="flex justify-between items-center">
                <p class="font-bold quicksand">Nicolas cage</p>
                <p class="text-gray-500 text-[10px]">3 Days ago</p>
              </div>
              <div class="my-2">
                <ng-container *ngTemplateOutlet="star"></ng-container>
              </div>
              <p class="font-bold quicksand my-2">Great Product</p>
              <p class="text-gray-500 text-[14px]">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
                injected humour
              </p>
            </div>
          </div>
          <div class="flex my-4 pb-6 gap-2.5">
            <div class="mt-3">
              <img
                src="https://marketpro-angular.netlify.app/assets/images/thumbs/comment-img1.png"
                width="40px"
              />
            </div>
            <div class="w-[100%]">
              <div class="flex justify-between items-center">
                <p class="font-bold quicksand">Nicolas cage</p>
                <p class="text-gray-500 text-[10px]">3 Days ago</p>
              </div>
              <div class="my-2">
                <ng-container *ngTemplateOutlet="star"></ng-container>
              </div>
              <p class="font-bold quicksand my-2">Great Product</p>
              <p class="text-gray-500 text-[14px]">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
                injected humour
              </p>
            </div>
          </div>
          <p class="quicksand text-2xl font-black mb-4">Write a Reviews</p>
          <div>
            <p class="text-[14px] mb-3">What is it like to Product?</p>
            <ng-container *ngTemplateOutlet="star"></ng-container>
          </div>
          <div class="my-5 flex flex-col">
            <label class="mb-2 text-[14px]">Review Title</label>
            <input
              type="text"
              placeholder="Best Product"
              class="border mb-2 placeholder:text-gray-400 border-gray-300 rounded-[5px] p-2 focus-visible:outline-[#1c799b]"
            />
            <label class="mb-2 text-[14px]">Review Content</label>
            <textarea
              class="border mb-2 placeholder:text-gray-400 h-36 border-gray-300 rounded-[5px] p-2 focus-visible:outline-[#1c799b]"
            >
It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
            </textarea>
          </div>
          <button
            class="cursor-pointer px-3 py-2 bg-[#1c799b] text-white rounded-full text-[14px]"
          >
            Sumbit
          </button>
        </div>
        <div>
          <p class="quicksand text-2xl font-black">Ratings</p>
          <div class="grid md:grid-cols-3 grid-cols-1">
            <div
              class="border border-gray-300 my-2 md:w-52 p-8 flex justify-center items-center rounded-2xl col-span-1"
            >
              <div class="flex justify-center flex-col items-center gap-2.5">
                <p class="text-5xl quicksand font-black text-[#1c799b]">
                  {{ product?.Rating }}
                </p>
                <ng-container *ngTemplateOutlet="star"></ng-container>
                <p class="text-gray-400 text-[12px]">Average Product Rating</p>
              </div>
            </div>
            <div class="border border-gray-300 my-2 rounded-2xl col-span-2 p-5">
              <div class="p-3 flex justify-between items-center gap-2.5">
                <p>5</p>
                <div class="h-2 bg-gray-300 rounded-full w-1/2">
                  <div class="bg-[#1c799b] h-[100%] rounded-full w-4/5"></div>
                </div>
                <ng-container *ngTemplateOutlet="star"></ng-container>
                <p>124</p>
              </div>
              <div class="p-3 flex justify-between items-center gap-2.5">
                <p>4</p>
                <div class="h-2 bg-gray-300 rounded-full w-1/2">
                  <div class="bg-[#1c799b] h-[100%] rounded-full w-3/5"></div>
                </div>
                <ng-container *ngTemplateOutlet="star"></ng-container>
                <p>94</p>
              </div>
              <div class="p-3 flex justify-between items-center gap-2.5">
                <p>3</p>
                <div class="h-2 bg-gray-300 rounded-full w-1/2">
                  <div class="bg-[#1c799b] h-[100%] rounded-full w-2/5"></div>
                </div>
                <ng-container *ngTemplateOutlet="star"></ng-container>
                <p>54</p>
              </div>
              <div class="p-3 flex justify-between items-center gap-2.5">
                <p>2</p>
                <div class="h-2 bg-gray-300 rounded-full w-1/2">
                  <div class="bg-[#1c799b] h-[100%] rounded-full w-1/5"></div>
                </div>
                <ng-container *ngTemplateOutlet="star"></ng-container>
                <p>36</p>
              </div>
              <div class="p-3 flex justify-between items-center gap-2.5">
                <p>1</p>
                <div class="h-2 bg-gray-300 rounded-full w-1/2">
                  <div class="bg-[#1c799b] h-[100%] rounded-full w-0"></div>
                </div>
                <ng-container *ngTemplateOutlet="star"></ng-container>
                <p>0</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
<app-flash-sale TitleHead="You Might Also Like" [ProductId]="product?.Id??0"> </app-flash-sale>
<app-info></app-info>
<app-news-letter></app-news-letter>
<ng-template #star>
  <span class="flex gap-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="13"
      fill="orange"
      class="bi bi-star-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
      />
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="13"
      fill="orange"
      class="bi bi-star-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
      />
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="13"
      fill="orange"
      class="bi bi-star-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
      />
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="13"
      fill="orange"
      class="bi bi-star-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
      />
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="13"
      fill="orange"
      class="bi bi-star-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
      />
    </svg>
  </span>
</ng-template>
