<div class="p-3 grid md:grid-cols-2 grid-cols-1 gap-5 my-5">
  <div
    class="grid grid-cols-3 md:grid-cols-2 bg-[url(/offer-bg-img1.png)]  bg-cover rounded-2xl p-5"
    data-aos="zoom-in-right"
    data-aos-delay="200"
    data-aos-once="true"
  >
    <div></div>
    <div class="flex-col flex items-start gap-2.5 md:col-span-1 col-span-2">
      <div class="bg-white rounded-full p-2">
        <img src="/vendor-logo1.png" />
      </div>
      <h1 class="quicksand text-2xl text-[#121535] font-black">
        $5 off your first order
      </h1>
      <p class="text-[#121535]">
        <span class="text-[14px] font-medium"> Delivery by 6:15am </span>
        <span class="text-[12px]"> Expire Aug 5 </span>
      </p>
      <a [routerLink]="['/shop']">
        <button class="btn-green">
          <p>Shop Now</p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-right"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"
            />
          </svg>
        </button>
      </a>
    </div>
  </div>
  <div
    class="grid grid-cols-3 md:grid-cols-2 bg-[url(/offer-bg-img2.png)]  bg-cover rounded-2xl p-5"
        data-aos="zoom-in-left"
    data-aos-delay="200"
    data-aos-once="true"
  >
    <div class="flex-col flex items-start gap-2.5 md:col-span-1 col-span-2">
      <div class="bg-white rounded-full p-2">
        <img src="/vendor-logo1.png" />
      </div>
      <h1 class="quicksand text-2xl text-[#121535] font-black">
        $5 off your first order
      </h1>
      <p class="text-[#121535]">
        <span class="text-[14px] font-medium"> Delivery by 6:15am </span>
        <span class="text-[12px]"> Expire Aug 5 </span>
      </p>
      <a [routerLink]="['/shop']">
        <button class="btn-primary">
          <p>Shop Now</p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-right"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"
            />
          </svg>
        </button>
      </a>
    </div>
        <div></div>

  </div>
</div>
