<app-bread-crumb title="Shop"></app-bread-crumb>
<div class="grid lg:grid-cols-4 grid-cols-1 my-5">
  <div class="col-span-1 p-3 hidden lg:block">
    <ng-container *ngTemplateOutlet="category"> </ng-container>
    <ng-container *ngTemplateOutlet="FilterbyPrice"> </ng-container>
    <ng-container *ngTemplateOutlet="FilterbyRating"> </ng-container>
    <ng-container *ngTemplateOutlet="FilterbyColor"> </ng-container>
    <ng-container *ngTemplateOutlet="FilterbyBrand"> </ng-container>
  </div>
  <div class="col-span-3 p-3">
    <div>
      <div class="my-5 flex justify-end gap-3 items-center">
        <button
          class="p-2 border border-gray-300 rounded-[5px]"
          (click)="CardChanger.set(true)"
          [ngClass]="CardChanger() ? ' bg-[#1c799b] text-white' : ''"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            fill="currentColor"
            class="bi bi-list-ul"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2"
            />
          </svg>
        </button>
        <button
          class="p-2 border border-gray-300 rounded-[5px]"
          (click)="CardChanger.set(false)"
          [ngClass]="!CardChanger() ? ' bg-[#1c799b] text-white' : ''"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            fill="currentColor"
            class="bi bi-grid"
            viewBox="0 0 16 16"
          >
            <path
              d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z"
            />
          </svg>
        </button>
        <button
          class="p-2 border border-gray-300 rounded-[5px] block hover:bg-[#1c799b] cursor-pointer lg:hidden hover:text-white"
          (click)="SetHeader()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="20"
            fill="currentColor"
            class="bi bi-funnel"
            viewBox="0 0 16 16"
          >
            <path
              d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"
            />
          </svg>
        </button>
        <div>
          <label class="text-[14px] text-gray-500 me-2">Sort by:</label>
          <select
            [value]="sortValue()"
            class="border text-[14px] p-1 rounded-[5px]"
            (change)="OnSort($event)"
          >
            <option [value]="1" [selected]="sortValue() == 1 ? true : false">
              Popular
            </option>
            <option [value]="2">Low to High</option>
            <option [value]="3">High to Low</option>
          </select>
        </div>
      </div>
    </div>
    <div class="lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid gap-5">
      @for (item of ProductList; track $index;) {
      <div class="product cursor-pointer">
        <div
          data-aos-once="true"
          data-aos="fade-up"
          class="border-gray-300 rounded-2xl border-1 hover:border-[#1c799b] p-5"
        >
          <div class="flex justify-between items-center z-10">
            <button
              [ngClass]="{
                'text-white bg-[#1c799b]': productService.IsAlreadyInWishlist(
                  item.Id
                )
              }"
              (click)="productService.AddToWishlist(item)"
              class="active:scale-90 md:invisible visible status transition-all cursor-pointer p-2 border border-[#1c799b] rounded-full flex justify-center items-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-heart"
                viewBox="0 0 16 16"
              >
                <path
                  d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"
                />
              </svg>
            </button>
          </div>
          <a [routerLink]="['/product', item.Id!]">
            <div class="w-[100%] h-52 flex justify-center items-center">
              <img
                [src]="item.Img"
                width="150"
                class="aspect-square object-contain transition-all duration-300"
              />
            </div>
            <div class="my-2 flex justify-start items-center">
              <p class="text-[12px] md:text-[16px] font-medium">
                {{ item.OfferPrice | currency : "INR" }}
              </p>
              <p
                class="text-[12px] md:text-[16px] mx-3 font-medium text-gray-400 line-through"
              >
                {{ item.Price | currency : "INR" }}
              </p>
            </div>
            <div class="text-[12px] font-bold text-gray-500 flex items-start">
              <span class="me-1 flex justify-center items-baseline gap-1"
                >{{ item.Rating.toFixed(1) }}
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="12"
                  fill="#f0b100"
                  class="bi bi-star-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                  /></svg
              ></span>

              <span class="mx-1 flex justify-center items-center"
                >({{ item.RatingCount }})</span
              >
            </div>
            <div>
              <p
                [title]="item.Name"
                class="quicksand truncate font-black my-2 hover:text-[#1c799b]"
              >
                {{ item.Name }}
              </p>
            </div>
            <div class="h-1 bg-gray-300 rounded-full">
              <div
                class="bg-[#1c799b] h-[100%] rounded-full"
                [ngStyle]="{ width: item.Quantity + '%' }"
              ></div>
            </div>
            <div class="mt-2 text-[12px] font-medium text-gray-700">
              Sold: {{ 100 - item.Quantity }}/100
            </div>
          </a>
          <div class="mt-4">
            @if (productService.IsAlreadyInCart(item.Id)) {
            <button
              class="bg-gray-300 text-[14px] justify-between flex items-center w-[100%] rounded-[5px] cursor-pointer transition-all duration-300 font-medium text-[#000]"
            >
              <button
                class="active:scale-110 hover:text-white hover:bg-[#1c799b] p-3 rounded-l-[5px]"
                (click)="productService.AddToCart(item.Id, -1)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-dash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"
                  />
                </svg>
              </button>

              <span>{{ productService.GetCartProductQuantity(item.Id) }}</span>
              <button
                class="hover:text-white active:scale-110 hover:bg-[#1c799b] p-3 rounded-r-[5px]"
                (click)="productService.AddToCart(item.Id, 1)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-plus"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
                  />
                </svg>
              </button>
            </button>
            }@else{
            <button
              (click)="productService.AddToCart(item.Id, 1)"
              class="bg-gray-300 text-[14px] justify-center flex items-center gap-2.5 w-[100%] rounded-[5px] cursor-pointer hover:bg-[#1c799b] hover:text-white transition-all duration-300 font-medium text-[#000] px-4 py-2"
            >
              <span>Add To Cart </span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-cart"
                viewBox="0 0 16 16"
              >
                <path
                  d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"
                />
              </svg>
            </button>
            }
          </div>
        </div>
      </div>
      }
    </div>
    <div class="mx-4 my-7 flex justify-center items-center">
      <div class="flex gap-2.5 mx-4">
        <button
          class="md:p-4 p-3 rounded-[5px] btn-hover border border-gray-300"
          [ngClass]="Count() == 1 ? 'bg-gray-300' : ''"
          (click)="Count.set(Count() > 1 ? Count() - 1 : Count())"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            fill="currentColor"
            class="bi bi-arrow-left"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"
            />
          </svg>
        </button>
        <div class="flex gap-2.5">
          @for (item of arraynumber; track $index) {
          <button
            class="text-[20px] size-[45.6px] md:size-[53.6px] flex justify-center items-center p-4 rounded-[5px] border border-gray-300"
            [ngClass]="
              Count() == item ? 'bg-[#1c799b] text-white' : 'btn-hover'
            "
            (click)="Count.set(item)"
          >
            {{ item }}
          </button>

          }
        </div>
        <button
          class="md:p-4 p-3 rounded-[5px] btn-hover border border-gray-300"
          [ngClass]="Count() == 5 ? 'bg-gray-300' : ''"
          (click)="Count.set(Count() < arraynumber[arraynumber.length-1] ? Count() + 1 : Count())"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            fill="currentColor"
            class="bi bi-arrow-left rotate-180"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #category>
  <div class="p-5 border border-gray-300 rounded-[10px] my-5">
    <h1
      class="quicksand font-black text-[20px] border-b border-b-gray-300 pb-4"
    >
      Product Category
    </h1>
    <div>
      <a [routerLink]="['/shop']">
        <p class="my-4 text-hover quicksand font-black">All Categories</p>
      </a>
      @for (item of productService.Categories; track $index) {
      <a [routerLink]="['/shop', item.Id ]">
        <p class="my-4 text-hover quicksand font-extrabold">{{ item.Name }}</p>
      </a>
      }
    </div>
  </div>
</ng-template>
<ng-template #FilterbyPrice>
  <div class="p-5 border border-gray-300 rounded-[10px] my-5">
    <h1
      class="quicksand font-black text-[20px] border-b border-b-gray-300 pb-4"
    >
      Filter by Price
    </h1>
    <div class="my-5">
      <div class="h-0.5 bg-gray-300 mx-2"></div>
      <div class="mt-4 flex justify-between items-center">
        <button class="btn">Filter</button>
        <p class="text-gray-400 me-10">Price:</p>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #FilterbyRating>
  <div class="p-5 border border-gray-300 rounded-[10px] my-5">
    <h1
      class="quicksand font-black text-[20px] border-b border-b-gray-300 pb-4"
    >
      Filter by Price
    </h1>
    <div class="p-3 flex justify-between items-center gap-2.5">
      <input type="radio" name="filterbyrate" class="size-5" />
      <div class="h-2 bg-gray-300 rounded-full w-1/2">
        <div class="bg-[#1c799b] h-[100%] rounded-full w-4/5"></div>
      </div>
      <ng-container *ngTemplateOutlet="star"></ng-container>
      <p>124</p>
    </div>
    <div class="p-3 flex justify-between items-center gap-2.5">
      <input type="radio" name="filterbyrate" class="size-5" />
      <div class="h-2 bg-gray-300 rounded-full w-1/2">
        <div class="bg-[#1c799b] h-[100%] rounded-full w-3/5"></div>
      </div>
      <ng-container *ngTemplateOutlet="star"></ng-container>
      <p>94</p>
    </div>
    <div class="p-3 flex justify-between items-center gap-2.5">
      <input type="radio" name="filterbyrate" class="size-5" />
      <div class="h-2 bg-gray-300 rounded-full w-1/2">
        <div class="bg-[#1c799b] h-[100%] rounded-full w-2/5"></div>
      </div>
      <ng-container *ngTemplateOutlet="star"></ng-container>
      <p>54</p>
    </div>
    <div class="p-3 flex justify-between items-center gap-2.5">
      <input type="radio" name="filterbyrate" class="size-5" />
      <div class="h-2 bg-gray-300 rounded-full w-1/2">
        <div class="bg-[#1c799b] h-[100%] rounded-full w-1/5"></div>
      </div>
      <ng-container *ngTemplateOutlet="star"></ng-container>
      <p>36</p>
    </div>
    <div class="p-3 flex justify-between items-center gap-2.5">
      <input type="radio" name="filterbyrate" class="size-5" />
      <div class="h-2 bg-gray-300 rounded-full w-1/2">
        <div class="bg-[#1c799b] h-[100%] rounded-full w-0"></div>
      </div>
      <ng-container *ngTemplateOutlet="star"></ng-container>
      <p>0</p>
    </div>
  </div>
</ng-template>
<ng-template #star>
  <span class="flex gap-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="13"
      fill="orange"
      class="bi bi-star-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
      />
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="13"
      fill="orange"
      class="bi bi-star-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
      />
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="13"
      fill="orange"
      class="bi bi-star-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
      />
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="13"
      fill="orange"
      class="bi bi-star-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
      />
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="13"
      fill="orange"
      class="bi bi-star-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
      />
    </svg>
  </span>
</ng-template>
<ng-template #FilterbyColor>
  <div class="p-5 border border-gray-300 rounded-[10px] my-5">
    <h1
      class="quicksand font-black text-[20px] border-b border-b-gray-300 pb-4"
    >
      Filter by Color
    </h1>
    <div class="my-5">
      @for (item of FilterColorList; track $index) {
      <div class="flex gap-2.5 my-5">
        <input
          type="radio"
          name="color"
          [ngClass]="[item.color]"
          class="size-5 text-white"
        />
        <p class="font-medium text-[14px]">{{ item.name }}</p>
      </div>
      }
    </div>
  </div>
</ng-template>
<ng-template #FilterbyBrand>
  <div class="p-5 border border-gray-300 rounded-[10px] my-5">
    <h1
      class="quicksand font-black text-[20px] border-b border-b-gray-300 pb-4"
    >
      Filter by Color
    </h1>
    <div class="my-5">
      @for (item of FilterByBrandList; track $index) {
      <div class="flex gap-2.5 my-5">
        <input
          type="radio"
          name="brand"
          class="size-5 accent-[#1c799b] text-white"
        />
        <p class="font-medium text-[14px]">{{ item }}</p>
      </div>
      }
    </div>
  </div>
</ng-template>
<div
  class="bg-white h-dvh z-10 fixed w-[100%] top-0 p-5 transition-all duration-200 overflow-y-scroll"
  [ngClass]="FilterClass"
>
  <div class="flex justify-end" (click)="SetHeader()">
    <div class="bg-white shadow cursor-pointer p-2 rounded-full">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        fill="currentColor"
        class="bi bi-x"
        viewBox="0 0 16 16"
      >
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
        />
      </svg>
    </div>
  </div>
  <div class=" ">
    <ng-container *ngTemplateOutlet="category"> </ng-container>
    <ng-container *ngTemplateOutlet="FilterbyPrice"> </ng-container>
    <ng-container *ngTemplateOutlet="FilterbyRating"> </ng-container>
    <ng-container *ngTemplateOutlet="FilterbyColor"> </ng-container>
    <ng-container *ngTemplateOutlet="FilterbyBrand"> </ng-container>
  </div>
</div>
