@import "tailwindcss";
@tailwind utilities;
@font-face {
    font-family: 'Quicksand';
    src: url('./Assets/Font/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'inter';
  src: url('./assets/font/Inter/Inter-VariableFont_opsz\,wght.ttf');
}
.text-color{
  color: #1c799b;
}
.bg-color{
  background-color: #1c799b;
}
.quicksand{
  font-family: "Quicksand", sans-serif;
}
body{
    font-family: "Inter", sans-serif;
}
.text-heading{
  color: #121535;
}
.footer{
  @apply grid lg:grid-cols-8 md:grid-cols-4 sm:grid-cols-3 grid-cols-1 gap-x-2 mb-20 ;
}
.text-hover{
  @apply hover:text-[#1c799b] transition-colors duration-200;
}
.btn-shadow{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.socail-btn{
  @apply hover:scale-110 hover:bg-[#1c799b] duration-200 transition-all text-[#1c799b] ;
}