@import "tailwindcss";
@tailwind utilities;
@font-face {
    font-family: 'Quicksand';
    src: url('./Assets/Font/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'inter';
  src: url('./assets/font/Inter/Inter-VariableFont_opsz\,wght.ttf');
}
.text-color{
  color: #1c799b;
}
.bg-color{
  background-color: #1c799b;
}
.quicksand{
  font-family: "Quicksand", sans-serif;
}
body{
    font-family: "Inter", sans-serif;
}
.text-heading{
  color: #121535;
}
.footer{
  @apply grid lg:grid-cols-8 md:grid-cols-4 sm:grid-cols-3 grid-cols-1 gap-x-2 mb-20 ;
}
.text-hover{
  @apply hover:text-[#1c799b] transition-colors duration-200;
}
.btn-shadow{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.socail-btn{
  @apply hover:scale-110 hover:bg-[#1c799b] duration-200 transition-all text-[#1c799b] ;
}
.hover-h-text{
    @apply hover:underline transition-all duration-200;
}
.drop-hover:hover .drop-menu{
  @apply block
}
.drop-hover:hover .dropname::after{
  rotate: 180deg;
}
.dropname::after{
    position: absolute;
    content: "🢓";
    height: 20px;
    margin-left: 5px;
    font-size: 20px;
    transform: translateY(10%);
    font-weight: 900;
    transition: 0.2s linear;
}
:root {
  --select2-selection-background: #ffffff; /* Light teal background */
  --select2-selection-text-color: #000;
--select2-selection-border-color: none;
  --select2-option-highlighted-background: #1c799b; /* Darker teal on hover */
}

