@import "tailwindcss";
@tailwind utilities;
@font-face {
  font-family: "Quicksand";
  src: url("./Assets/Font/Quicksand/Quicksand-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "inter";
  src: url("./assets/font/Inter/Inter-VariableFont_opsz\,wght.ttf");
}
.text-color {
  color: #1c799b;
}
.bg-color {
  background-color: #1c799b;
}
.quicksand {
  font-family: "Quicksand", sans-serif;
}
body {
  font-family: "Inter", sans-serif;
}
.text-heading {
  color: #121535;
}
.footer {
  @apply grid lg:grid-cols-8 md:grid-cols-4 sm:grid-cols-3 grid-cols-1 gap-x-2 mb-20;
}
.text-hover {
  @apply hover:text-[#1c799b] transition-colors duration-200 cursor-pointer;
}
.btn-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.socail-btn {
  @apply hover:scale-110 hover:bg-[#1c799b] duration-200 transition-all text-[#1c799b];
}
.hover-h-text {
  @apply hover:underline transition-all duration-200;
}
.drop-hover:hover .drop-menu {
  @apply opacity-100 translate-y-0 visible;
}
.drop-hover:hover .dropname::after {
  rotate: 180deg;
}
.dropname::after {
  position: absolute;
  content: "🢓";
  height: 20px;
  margin-left: 5px;
  font-size: 20px;
  transform: translateY(10%);
  font-weight: 900;
  transition: 0.2s linear;
}
:root {
  --select2-selection-background: #ffffff; /* Light teal background */
  --select2-selection-text-color: #000;
  --select2-selection-border-color: none;
  --select2-option-highlighted-background: #1c799b; /* Darker teal on hover */
}
.broswer-drop-hover:hover .broswer-drop-menu {
  @apply opacity-100 translate-y-0 visible;
}
.broswer-drop-hover:hover .broswer-drop-btn {
  @apply hover:bg-[#15803D];
}
.broswer-drop-hover:hover .arrowbrs {
  @apply rotate-180;
}
.link-drop:hover .link-drop-btn {
  @apply rotate-180;
}
.link-drop:hover .link-text {
  @apply text-[#1c799b];
}
.link-drop:hover .link-menu {
  @apply opacity-100 translate-y-0 visible;
}
.product :hover img {
  @apply scale-115;
}
.btn {
  @apply bg-[#1c799b] text-white px-5 py-1.5 rounded-[5px] cursor-pointer active:scale-90;
}
.product:hover .status {
  @apply visible;
}
.contact-btn {
  @apply bg-[#121535] text-white px-3 py-2 rounded-[5px] flex items-center justify-between hover:bg-[#1c779b] transition-all duration-150;
}
.contact-input {
  @apply focus-visible:outline-[#1c799b] w-[100%] block border border-gray-300 px-3 py-2 rounded-[5px] my-2 placeholder:text-gray-400;
}
.text-primary {
  @apply text-[#1c799b];
}
.btn-hover:hover {
  @apply text-[#1c799b] bg-[#e3f4fa] border border-[#1c799b];
}
.btn-hover {
  @apply transition-all duration-300 cursor-pointer;
}
.product:hover .wishlist {
  @apply visible opacity-100 scale-100;
}
.wishlist {
  @apply md:invisible visible   md:scale-0 active:bg-[#1c799b]  duration-300 p-2 border border-[#1c799b] rounded-full flex justify-center items-center cursor-pointer active:scale-110 active:text-white;
}
