<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 mx-3">
  @for (item of info; track $index) {
    <div class=" bg-[#e3f4fa] hover:bg-[#e3f4ff] px-4 py-6 gap-2.5 rounded-2xl flex items-center md:m-4 my-2 " data-aos-once="true" data-aos="zoom-in" [attr.data-aos-delay]="($index+1)*200">
        <div class="p-2 bg-[#1c799b] rounded-full" [innerHTML]="sanitizer.bypassSecurityTrustHtml(item.icon)">
        </div>
        <div>
            <p class="quicksand text-[18px] font-black">{{item.heading}}</p>
            <p class="text-[12px]">{{item.msg}}</p>
        </div>
    </div>
  }
</div>
